{% extends 'base.html' %}
{% block content %}

<section class="section hero-flex">
  <div class="hero-left">
    <img src="{{ url_for('static', filename='pawan.jpg') }}" alt="Profile Pic" class="avatar-xl">
  </div>
  <div class="hero-right">
    <h1>Hi, I'm <span style="color:#38bdf8">Pawan Pushkar</span></h1>
    <p class="tagline">Solving today, Shaping tomorrow.</p>
    <p class="subtext">Turning concepts into creations.</p>
  </div>
</section>

<!--<section class="section hero">-->
<!--    <img src="{{ url_for('static', filename='manoj1.jpg') }}" alt="Profile Pic" class="avatar-large">-->
<!--    <h1>Hi, I'm Manoj G</h1>-->
<!--    <p class="tagline">Turning Ideas into Impactful Code.</p>-->
<!--    <p class="subtext">From Python and SQL to Flask and MongoDB</p>-->
<!--</section>-->

<section class="section">
    <h2>About Me</h2>
    <p>
       I am an engineering Student with a strong foundation in computer science (IoT)and backend development.
        Skilled in Python, Flask, and SQL, I enjoy solving complex problems by building practical, data-driven applications.
        With experience in deploying web solutions and a growing interest in blockchain and emerging backend technologies,
        I aim to contribute to innovative and impactful software projects.
    </p>
</section>

<section class="section">
    <h2>Highlighted Projects</h2>
    <div class="grid">
        <div class="card center">
            <img src="{{ url_for('static', filename='iot1.png') }}" alt="IoT Icon" class="icon-img">
            <p>IoT Dashboard</p>
        </div>
        <div class="card center">
            <img src="{{ url_for('static', filename='ml.png') }}" alt="ML Icon" class="icon-img">
            <p>Machine Learning Model</p>
        </div>
        <div class="card center">
            <img src="{{ url_for('static', filename='cyber.png') }}" alt="Cybersecurity Icon" class="icon-img">
            <p>Cybersecurity Tool</p>
        </div>
    </div>
</section>

<section class="section">
    <h2>Tech Stack</h2>
    <div class="skills">
        <span class="badge1">Python</span>
        <span class="badge1">JavaScript</span>
        <span class="badge1">Flask</span>
        <span class="badge1">SQL</span>
        <span class="badge1">HTML</span>
        <span class="badge1">CSS</span>
        <span class="badge1">React</span>
        <span class="badge1">Java</span>
        <span class="badge1">C Programming</span>
        <span class="badge1">C++</span>

    </div>
</section>

{% endblock %}
