{% extends 'base.html'%}


{%block content %}
<section class="section">
    <h1>Pawan Pushkar</h1>
    <p class="subtitle">CSE(IoT) Student | AI & ML Enthusiast | CyberSecurity |Data Analytics Explorer | Web Developer | Strong in DSA</p>
    <p>www.linkedin.com/in/pawan-pushkar-939868302| pip freezewww.pythonanywhere.com/user/pushkarpawan</p>

    <div class="grid">
       <div class="grid-item">
            <h2>EDUCATION</h2>
            <p><strong>Bachelor of Technology (CSE)</strong><br>2023–2027<br>Rajarajeswari Engineering College, Ramohalli Cross</p>
            <p><strong>Senior Secondary Education</strong><br>2021–2023<br>Mahaviri Saraswati Vidhya Mandir,Siwan</p>

            <h2>EXPERIENCE</h2>
                <p><strong>1)Python programming Intern</strong><br>Ybi Foundation<br>Jun 2024</p>
            <ul>
                <li>provides hands-on experience in software development, data
 analysis, and related fields using the Python programming
 language</li>
                <li>a powerful optimization technique that enhances memory
 efficiency and performance by storing only one copy of
 identical immutable strings</li>
                <p><strong>2)Artificial Intelligence Fundamentals Intern</strong><br>IBM <br>Jul 2025</p>
            <ul>
                <li>Earned IBM’s Artificial Intelligence Fundamentals certification, building a strong foundation in AI-driven problem solving and innovation</li>
                <li>Certified in Artificial Intelligence Fundamentals by IBM, with practical exposure to key AI tools and technologies</li>
            </ul>
        </div>

        <div class="grid-item">
            <h2>SKILLS</h2>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Flask</li>
                <li>DSA</li>
                <li>Django</li>
                <li>SQL</li>
                <li>C Programming</li>
                 <li>C++</li>

            </ul>

            <h2>PROJECTS</h2>
            <p><strong>Alien Invasion Game</strong></p>
            <ul><li>Developed a 2D shooting game with alien movement, scoring, and player control.</li></ul>
            <p><strong>Portfolio Website</strong></p>
            <ul><li>Responsive portfolio site showcasing personal projects.</li></ul>
            <p><strong>Restaurant Management System</strong></p>
            <ul><li>Implemented authentication and session management for secure access.</li></ul>
        </div>
    </div>
</section>
{%endblock%}